<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//iybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngustandard.youngu_server.Mapper.ChildMapper">

    <select id = "find_children" parameterType="String" resultType="com.youngustandard.youngu_server.Child.ChildDTO">
        SELECT CHL_ID,CHL_NCK_NM,CHL_SEX,CHL_AGE,CHL_MBTI
        FROM YS_CHILD
        WHERE MBR_ID = #{mbr_id}
    </select>

</mapper>
